@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Outfit:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --color-brevo-primary: #C0F6A2;
  --color-brevo-bg-light: #C0F6A2;
  --color-brevo-dark: #1E1E1E;
  --color-brevo-text: #001f41;
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Outfit", sans-serif;
}
